<div id="page">
    <div id="content">
        <ul>
            <% @posts.each do |post| %>
                <li>
                <article>
                    <div class="post-title"><%= link_to post.title, post_path(post) %></div>
                    <div class="post-body">
                        <p><%= post.body %></p>
                        <%= link_to 'edit', edit_post_path(post) %>
                    </div>
                </article>
                </li>
            <% end %>
        </ul>
    </div>
    <%= render "layouts/menu" %>
</div>