/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    margin: 0px;
    padding: 0px;
}

#page {
    position:relative;
    margin:0 auto;
    min-height:900px;
    width: 990px;
}

#header {
    line-height: 1;
}
#header{
    background-image:   url("header-background.png");
    margin: 0px;
    padding: 0px;
    display: block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
}
#header > header  hgroup {
    text-align: center;
    padding-top: 30px;
    display: block;
}
#header > header hgroup a {
    margin-left:    -20px;
    font-size: 2em;
}
#header > header ul {
    margin: 10px;
    display: block;
    padding: 0px;
}
#header > header ul li {
    list-style: none outside none;
    list-style-position: outside;
    display: inline;
}

#right_nav {
    right: 20px;
    top: 0px;
    margin: 0px;
    position: absolute;
    text-align: center;
}

#breadcrumb {
    #border-bottom: 1px solid rgb(100, 100, 100);
}

#menu {
    background-image:   url("menu-background.png");
    height:500px;
    min-width: 200px;
    max-width:20%;
    float:right;
    text-align: center;
    border: 1px solid rgb(123, 123, 123);
}

#content {
    float: left;
    background-color: rgb(238, 238, 238);
    width: 778px;
    min-height: 700px;
    display:   block;
    text-align:center;
    margin-right: 5px;  
}

a {
    text-decoration: none;
    color: rgb(156, 162, 168);
}

ol, ul {
    list-style: none outside none;
    list-style-position: outside;
    display:inline;
}

.layerbox {
    margin: 0px auto;
    position: relative;
    width: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.layerbox div.header {
    padding: 10px;
}
.layerbox div.body {
    padding: 10px 0px;
}
.layerbox div.body .field dl {
    padding: 0px 30px;
}
.layerbox div.body .field dl dt {
    font-size: 15px;
    margin: 15px 0px 5px;
}
.layerbox div.body .filed dl dd {
    margin: 0px;
}
.layserbox div.body .actions {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    font-size: 100%;
    vertical-align: baseline;
    text-align: center;
}
#entry {
    padding-top: 100px;
}

.field input {
    width: 280px;
    #margin-right: auto;
    padding: 5px;
    font-size: 1.2em;
    
    height: 30px;
    line-height: 30px;
}

dl {
    margin: 0px;
}