// Place all the styles related to the revisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-title li {
    display: inline;
    margin-right: 80px;
}

.post-title p {
    margin: 0px;
    padding: 0px;
}

.post-title .title-meta {
    margin: 5px 10px 0px;
    font-size: 0.9em;
}