<h1>Form</h1>
<%= form_for @category do |f| %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>
    <p>
        description
        <!-- add description field -->
    </p>
    <p>
        <%= f.submit 'Add New Category'%>
    </p>
<% end %>