<div id="header">

    <header>
        <hgroup>
            <p><%= link_to "Blog Home", root_path %></p>
            <p>subtitle</p>
        </hgroup>
    </header>

    <div id="breadcrumb">
        <!-- TODO 방문한 페이지 목록 5개 -->
        <p></p>
    </div>
</div>