<div id="header">

    <header>
        <nav id="right_nav">
            <ul>
                <% if current_user %>
                    <li><%= link_to 'NewPost', new_post_path %></li>
                    <li><%= link_to "LogOut", logout_path%></li>
                <% else %>
                    <li><%= link_to "Log In", login_path%></li>
                <% end %>
            </ul>
        </nav>
        <hgroup>
            <h1><%= link_to "Still Alive", root_path %></h1>
        </hgroup>
    </header>

    <div id="breadcrumb">
        <!-- TODO 방문한 페이지 목록 5개 -->
        <p></p>
    </div>
</div>