<div id="menu">
    <aside class="github-badge">
        <iframe src="http://githubbadge.appspot.com/badge/rabierre?s=1" style="border: 0;height: 130px;width: 220px;overflow: hidden;" frameBorder=0></iframe>
    </aside>

    <aside class="category">
        <h1>Category</h1>
        <%= render "categories/index" %>
    </aside>

    <aside class="recents">
        <h1><%= link_to "recent changes", posts_recents_path %></h1>
        <%= render "posts/recent" %>
    </aside>
</div>